.container {
  width: 670px;
  height: 700px;
  margin: auto;
  margin-top: 12px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #6450d4 0%, #3b2f80 100%);
  box-shadow: #3b2f80 -2px 2px 9px;
}

.title {
  text-align: center;
  font-family: 'Arial Black', Gadug;
  color: #fff;
  padding: 10px;
  font-size: 24px;
}

.top-bar {
  display: flex;
  justify-content:center;
  gap: 14px;
  padding-top: 70px;
}

.top-bar input {
  display: flex;
  width: 500px;
  height: 50px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 40px;
  color: grey;
  font-size: 20px;
  font-weight: 500;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 40px;
  cursor: pointer;
}

.weather-image {
  margin-top: 29px;
  display: flex;
  justify-content: center;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 90px;
  font-weight: 400;
}

.weather-location {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 50px;
  font-weight: 400;
}

.data-container {
  margin-top: 30px;
  color: white;
  display: flex;
  justify-content: center;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.data {
  font-size: 34;
  font-size: 400;
}

.text {
  font-size: 20px;
  font-weight: 400;
}

.icon {
  margin-top: 10px;

}